.h1{
    text-decoration: underline;
}

.foot{
  text-align: center;  
}

.Kid {
  color:#e815b7;
  font-family: 'Lobster', cursive;
}

.h2 {
  color:#44f241;
  font-family: 'Allura', cursive;

}
.fonts{
  font-family: 'Allura', cursive;

}
